{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}
{% block content %}
<div class="container mx-auto mt-5 min-h-screen">
  {% include 'navbar.html' %}
  <h1 class="text-5xl mt-4">{{ quiz.title }}</h1>
  <h2 class="text-4xl m-3 text-slate-400">{{ quiz.category }}</h2>
  <a href="{% url 'quiz_index'%}" class="btn btn-neutral mx-4 ">Back</a>
  {% if quiz.single_attempt %}
    <h4 class="text-lg">You will only get one attempt at this quiz</h4>
  {% endif %}
  {% if quiz.slides %}
  <div class="container my-8 mx-4">
    <iframe class="w-full" {{quiz.slides|safe}} ></iframe>
    
  </div>
  {% endif %}
  <p class="text-xl">Instructions:</p>
  <div class="m-4"><p>{{ quiz.description|linebreaks }}</p></div>
  <p class="text-center p-5 mb-12">
    <a href="{% url 'quiz_question' quiz_name=quiz.url %}" class="btn btn-primary text-xl">
    {% trans "Start Quiz" %}
    </a>
  </p>
</div>
{% include 'footer.html'%}
{% endblock %}
