{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html data-theme="dark">
<head>
<meta charset="utf-8">

<title>{% trans "Sparta App" %} | {% block title %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}">

<!-- styles -->

<link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />

<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/daisyui@1.3.0/dist/full.js"></script>
    

</head>

<body>
<!-- Before the quiz content -->



{% block content %}

{% endblock %}

<!-- After the quiz content -->
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
