{% extends "base.html" %}
{% load i18n%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
<div class="container mx-auto mt-47 shadow-lg p-7 rounded-xl">
{% if question %}
{% if progress %}
<div style="float: right;">
<p class="text-md">
{% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
</p>
</div>
{% endif %}
<p class="mb-4">
  	<strong class="text-3xl">{{ quiz.title}}</strong>
</p>
<hr>
<p class="text-xl font-medium p-5">Question: {{ question.content }}</p>
<hr>
{% if question.figure %}
    <p>{{ question.figure.url }}</p>
    <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
{% endif %}

<form action="" method="POST">{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">

	{% for answer in form.answers %}
	  <li class="list-group-item p-3 text-xl hover:bg-slate-100">
	    {{ answer }}
	  </li>
	{% endfor %}

  </ul>
  <hr>
  <input type="submit" value={% trans "Confirm" %} class="btn btn-warning btn-block w-100 mt-3 text-lg">
</form>

{% endif %}

</div>



{% endblock %}
