.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .landing-content {
    text-align: left;
  }

/* Optional: Add media query for responsiveness */
@media (max-width: 768px) {
.landing-container {
  flex-direction: column;
  text-align: center;
}
}