{% extends "landing/base.html" %}
{% load static %}
{% block content %}
{% include "landing/_modal.html" %}
<div class="container landing-container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 landing-content">
        <!-- Text on the left -->
        <h1>Welcome to Our <span class="text-warning">Website<span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris.<p>
        <button id="login-btn" type="button" name="button" class="btn btn-dark">Take the exam</button>
        <button id="signup-btn" class="btn btn-primary" type="button" name="button">Sign up</button>
      </div>
      <div class="col-md-6">
        <img src="{% static 'images/undraw_safe_re_kiil.svg'%}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
<footer class="footer text-center text-muted py-3">&copy; 2024 Sparta IT Department All rights reserved.</footer>
{% endblock %}

{% block extrascripts%}
<script type="text/javascript">
  $(function () {
    $("#signup-btn").modalForm({
        formURL: "{% url 'register' %}"
    });

    $("#login-btn").modalForm({
      formURL: "{% url 'login' %}"
    });

    $(".alert").fadeTo(2000, 500).slideUp(500, function () {
      $(".alert").slideUp(500);
    });
  });
</script>
{% endblock extrascripts %}
