{% extends "landing/base.html" %}
{% load static %}
{% block content %}
{% include "landing/_modal.html" %}
{% include "landing/_header.html" %}
<div class="container landing-container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 landing-content">
        <!-- Text on the left -->
        <h1>Welcome to<span class="text-dark"> Information Security Awareness
          Assessment<span></h1>
        <p class="fs-5">In our digital age, information security awareness is your shield against cyber threats! It's the power to spot, stop, and stay ahead of digital dangers. Let's gear up, stay savvy, and keep our digital spaces secure! <br>💻🛡️ #CyberSmart #InfoSecHeroes<p>
        {% if user.is_authenticated %}
          <a href="{% url 'quiz_index' %}" class="btn btn-dark">Take the exam</a>
        {% else %}
        <button id="login-btn" type="button" name="button" class="btn btn-dark">Get Started</button>
        <button id="signup-btn" class="btn btn-primary" type="button" name="button">Sign up</button>
        {% endif %}
      </div>
      <div class="col-md-6">
        <img src="{% static 'images/security.svg'%}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
<footer class="footer text-center text-muted py-3">&copy; 2024 Sparta IT Department All rights reserved.</footer>
{% endblock %}

{% block extrascripts%}
<script type="text/javascript">
  $(function () {
    $("#signup-btn").modalForm({
        formURL: "{% url 'signup' %}"
    });

    $("#login-btn").modalForm({
      formURL: "{% url 'login' %}"
    });
    $(".alert").fadeTo(2000, 500).slideUp(500, function () {
      $(".alert").slideUp(500);
    });
  });
</script>
{% endblock extrascripts %}
